[2014-10-02 14:20] frankyonnetti opened #1 "Fix folder selection transparnency"
![screen shot 2014-10-02 at 10 20 40 am](https://cloud.githubusercontent.com/assets/458356/4492187/4d30ba6c-4a3f-11e4-85af-cee491897c50.png)

[2014-10-06 02:23] #1 closed, assigned to nobody

[2014-10-08 09:27] pbredenberg opened #2 "Link to Theme With Icon "Access Denied""
Hey Frank!

Love the theme. It's great.

The below link is not working in your Readme:

https://s3.amazonaws.com/yonnetti-sublime/gravity/Theme-Default.zip

I'm getting access denied.

[2014-10-08 14:46] #2 closed, assigned to nobody

[2014-10-14 14:23] nicosantangelo opened #3 "Quick Switch Project search bar style"
Hello!

I don't know if this is intended but when I use Quick Switch Project the search bar background color doesn't "reach" the end of the window:

![switch_project](https://cloud.githubusercontent.com/assets/692077/4630477/8c769062-53ad-11e4-8dfc-3e1c0bd0d5c5.png)

I'm using Sublime Text 3 in Mac OSX.

Thanks a lot for the Theme, it's really cool.

[2014-10-15 21:10] distantnative opened #4 "Search & Replace Background glitch"
Similar to the Quick Switch Project search bar issue, the background of the search & replace section doesn't reach the right side.

![screen shot 2014-10-15 at 23 07 58](https://cloud.githubusercontent.com/assets/3788865/4653668/ba43d600-54af-11e4-88d7-df28061aec78.png)

[2014-10-15 21:12] distantnative opened #5 ""Open folder" icon"
Love the theme, thanks!
How about an open folder icon?

[2014-10-15 22:19] #5 closed, assigned to nobody

[2014-10-22 13:48] frankyonnetti opened #6 "Fix the "many" @2x images"

[2014-10-22 18:48] jesseleite opened #7 "Font size in CMD-F search input?"
Thank you for Gravity!  I was a Soda Dark user for a long time, but been looking for flat theme to replace it (since flat is the thing).  You did excellent job on Gravity... finally a nice flat theme!

Anyway, I noticed the text in my CMD-F search input wasn't centered, and seems to be affected by font size.  Is this a Gravity thing?  Or a Sublime thing?  Example: http://puu.sh/cmlZY/cd643c9d37.pn

[2014-10-22 22:11] #7 closed, assigned to nobody

[2014-10-23 18:46] #6 closed, assigned to frankyonnetti

[2014-10-23 21:10] #4 closed, assigned to nobody

[2014-10-23 23:35] jesseleite opened #8 "Find in Files UI cut off"
On this mac (Macbook Air w/ Yosemite), the 3rd input field when using Find in Files (CMD-SHIFT-F) gets cut off by Sublime's status bar.  http://puu.sh/co0qm/2f6f41365b.png

[2014-10-24 00:59] #3 closed, assigned to nobody

[2014-10-24 01:00] #8 closed, assigned to nobody

[2014-11-04 18:32] alexwhitman opened #9 "File type icons"
Sidebar icons for file types such as those used in https://github.com/wesbos/cobalt2 would be a pretty cool addition.

[2014-11-15 20:29] #9 closed, assigned to nobody

[2014-11-21 08:02] omegahm opened #10 "Find in Files bar is hidden"
When doing a "Find in Files" (`⌘⇧F`) the "replace" bar is hidden under the status bar.

![screen shot 2014-11-21 at 09 00 48](https://cloud.githubusercontent.com/assets/178448/5139332/eb07ee38-715c-11e4-8119-3126dee403b4.png)

I'm on Mac OS X 10.10.1 (14B25) and Sublime Text 3 (3065).

Here's my `Preference.sublime-settings`-file:

[code]

[2015-01-12 18:47] gj1118 opened #11 "Tabs size"
Hi ,
Can you please add a setting for decreasing the tab height, please ?
Thanks

With Regards
Gagan janjua

[2015-01-13 18:21] #10 closed

[2015-01-13 18:22] frankyonnetti commented on #11
Can you give me an idea as to how much you would like the tabs decreased?

[2015-01-14 00:49] gj1118 commented on #11
If you can have multiple sizes it would be awesome. For example small would
correspond to half the width of the existing tab width, medium correponds
to three fourth the existing width.

Thanks
On Jan 13, 2015 1:22 PM, "Frank Yonnetti" <notifications@github.com> wrote:

[2015-01-14 13:51] alexwhitman opened #12 "Dark theme auto complete popup contrast"
Can the contrast of the auto complete popup be improved?  The light background with the light 'unmatched' text doesn't make it easy to see the matches.

![gravity-popup](https://cloud.githubusercontent.com/assets/422013/5739703/4608c804-9bf4-11e4-9bbc-77157b847de4.png)

[2015-01-14 16:21] frankyonnetti commented on #12
Sure, I can take a look.

[2015-01-14 16:22] frankyonnetti commented on #11
I don't have plans for changing the width, but I'll look at adding height options.

[2015-01-14 16:33] gj1118 commented on #11
Sorry I meant height instead of Width. My apologies for the same. The width
is absolutely fine.

---------------------------
With Regards
Gagan Janjua

On Wed, Jan 14, 2015 at 11:22 AM, Frank Yonnetti <notifications@github.com>
wrote:

[2015-01-18 21:22] Twiebie commented on #12
Is it an idea to use the same colours as the command palette?

[2015-01-21 00:55] frankyonnetti commented on #11
Added a tab height option to 2.0.1:
"tab_height_short": true
or,
"tab_height_tall": true

[2015-01-21 00:55] #11 closed

[2015-01-21 00:58] frankyonnetti commented on #12
Changed the colors to match the command palette as @Twiebie suggested. It's not an exact match because they display differently.

Change is in version 2.0.1

[2015-01-21 00:58] #12 closed

[2015-01-21 05:15] gj1118 commented on #11
Thanks :)

---------------------------
With Regards
Gagan Janjua

On Tue, Jan 20, 2015 at 7:55 PM, Frank Yonnetti <notifications@github.com>
wrote:

[2015-01-21 07:20] Twiebie commented on #12
Looks good, thanks!

[2015-01-21 08:54] alexwhitman commented on #12
Much better, thanks. :+1:

[2015-01-21 11:13] pickx opened #13 "Border of tabs is too thick, looks misaligned when left/right-most tabs are selected"
The gray border around tabs is designed to match to the OS X window borders, however it's one or two pixels too thick, so the corner looks wrong.
This is only noticeable on Reverse Gravity, but probably exists in Gravity as well.
Attached pics show how the corner looks compared to Finder tabs.
![screen shot 2015-01-21 at 13 01 33](https://cloud.githubusercontent.com/assets/4918121/5835283/57454c48

[2015-01-21 13:08] frankyonnetti commented on #13
Thanks, I'll take a look.

[2015-01-24 22:38] frankyonnetti commented on #13
This is fixed in 2.0.2 release. Thanks for pointing the display issue out.

[2015-01-24 22:38] #13 closed

[2015-01-26 12:15] pickx opened #14 "Tab height should standardize"
The tabs in Reverse Gravity are slightly shorter than those in Gravity, which makes the switch between these two somewhat jarring. (I personally think the height in Reverse Gravity is more appropriate)

also, do you accept paypal donations?

[2015-01-26 15:07] frankyonnetti commented on #14
When switching themes and to quickly bring back the file tabs, hit " Super + F ".

If you would like to donate money, please donate to Package Control. They deserve it more than I do.
https://packagecontrol.io/about

[2015-01-26 15:07] #14 closed

[2015-01-27 08:41] jameskennerly85 opened #15 "File name/path bar broken."
If you try to rename a file/folder, for example, the bar will appear behind some layer at the bottom.
Here's an example:

![screen shot 2015-01-27 at 9 39 48 am](https://cloud.githubusercontent.com/assets/7116076/5915652/a3fb1b60-a608-11e4-85bf-8cc4f99e899b.png)

[2015-01-27 08:43] #15 closed

[2015-01-27 08:44] jameskennerly85 commented on #15
Sorry I didn't see there was an answer already for this particular problem.

[2015-01-27 12:41] giltig opened #16 "tabs letter cut"
Hi,
I really like your new theme.
Letters like g being cut no matter what size of tabs.

![lettercut](https://cloud.githubusercontent.com/assets/5754742/5918541/860b1c3e-a632-11e4-816a-ac5b5b392065.png)

[2015-01-28 14:25] frankyonnetti commented on #16
Thanks. I added a fix to version 2.0.4

It seems to be a bug with Sublime Text on Linux and Windows.
https://github.com/jamiewilson/predawn/issues/35

To apply the fix, add this setting to your "Settings - User" file.
    "tab_font_small": true

[2015-01-28 14:25] #16 closed

[2015-01-28 16:25] dkarter commented on #9
:+1:  Check out [Seti  UI](https://github.com/ctf0/Seti_ST3). The icons are a really nice touch. Cobalt icons are better IMHO but it lacks folder icons.

[2015-01-29 18:47] giltig opened #17 "JS syntax and more"
Hi,
I've noticed some syntax coloring is missing for javascript (e.g "this" saved keyword, json files without key value separation of color(although in sublime preferences there is a separation etc.).
Also in other languages.
![jsonwithoutsyntaxhighlight](https://cloud.githubusercontent.com/assets/5754742/5965209/0a31e3b8-a803-11e4-922b-6e56ab11bebb.png)

[2015-01-30 16:55] frankyonnetti commented on #17
I'll take a look. Thanks.

[2015-02-05 10:59] giltig opened #18 "File icons in windows"
Hi,
Some of the file icons appear only after clicking on the directory tree.
Some like .scss doesn't appear at all.
![image](https://cloud.githubusercontent.com/assets/5754742/6059105/a037fe5a-ad36-11e4-99a7-96712a5a5e25.png)
![image](https://cloud.githubusercontent.com/assets/5754742/6059114/aadd88b6-ad36-11e4-8bad-4e6fb051b1e1.png)

Furthermore - this keyword in javascript does not have syntax c

[2015-02-05 15:23] frankyonnetti commented on #17
This change is in version 2.0.5.

[2015-02-05 15:28] frankyonnetti commented on #18
I'm not seeing the missing icon issue on Mac or Windows. I'm guessing you tried restarting ST?
![screen shot 2015-02-05 at 10 23 14 am](https://cloud.githubusercontent.com/assets/458356/6062883/224bd0a8-ad21-11e4-950c-a8b01b343299.png)

Which keywords?

Also, can you test the keyword color change using a different syntax theme? Maybe use [Monokai Extended](https://packagecontrol.io/packages/Monoka

[2015-02-05 17:46] giltig commented on #18
the keyword "this"

[2015-02-05 21:02] frankyonnetti commented on #18
Thanks, I'll check it out.
The screen shot I provided was in Windows 8.1. I can try Windows 7, is that what you're using?

[2015-02-05 21:22] giltig commented on #18
Yes windows 7

[2015-02-05 22:01] giltig commented on #17
Actually I was wrong. There was a color to the JSON strings (like the original monokay) and the color is grey.
Please return the string colors of the JSON to be grey like it was before.

Thanks.

[2015-02-05 22:04] frankyonnetti commented on #17
You don't like the green :-)

[2015-02-06 08:35] giltig commented on #17
Well yeah:) but regardless I think that what's nice about your theme is
that it saves Sublime's default with a bit of modern twist and not changing
it completely.
The grey strings of the json that was before is actually nice - please put
it back:)

On Fri, 6 Feb 2015 00:04 Frank Yonnetti <notifications@github.com> wrote:

[2015-02-07 01:42] frankyonnetti commented on #18
Here is a screen shot from Windows 7 fresh install of Sublime Text. Sorry man, I can't reproduce it.

![screen shot 2015-02-06 at 8 12 02 pm](https://cloud.githubusercontent.com/assets/458356/6090233/9623671e-ae40-11e4-9d37-b2d1c511d7bc.png)

[2015-02-07 01:43] frankyonnetti commented on #17
I put the gray color back and added color to 'this' in v.2.0.6.

[2015-02-07 21:50] giltig commented on #17
Thanks.

[2015-02-13 00:00] #18 closed

[2015-02-13 00:01] #17 closed

[2015-02-13 11:36] giltig opened #19 "Classes color"

[2015-02-15 13:12] #19 closed

[2015-02-20 10:16] tschundeee opened #20 "New File / Folder Bug"
Hi Frank,

first let me thank you for creating such a wonderful theme. Gravity Reverse is one of my favorite themes besides http://buymeasoda.github.io/soda-theme/ :) At the moment I prefer Mavericks and it also looks great under this OS X.

I found a little glitch when creating a new folder. The naming dialog in the bottom is cut off (see the attached screenshot).

![gravity theme glitch](https:/

[2015-02-20 13:53] frankyonnetti commented on #20
It's a common issue with ST.
https://github.com/frankyonnetti/gravity-sublime-theme/wiki/Theme-Trouble-Shooting

[2015-02-20 13:55] tschundeee commented on #20
Cool! I searched the issues but missed the wiki when filing this. Thx it now works as expected :) :+1:

[2015-02-20 13:55] #20 closed

[2015-03-05 09:17] giltig opened #21 "indent drawing"
Hi,
After the change to Monokai extended the vertical indentation lines color became green (was blue which was more fitting the cursor...). Can you please change the indentation dashed lines color back to what it was.
Thanx.

![image](https://cloud.githubusercontent.com/assets/5754742/6502113/1685e1be-c329-11e4-8c53-7324efdbbf63.png)

[2015-03-06 00:54] frankyonnetti commented on #21
Hey man, I changed it to the blue from before. So weird because the guid lines are gray on my Mac.

[2015-03-15 09:08] giltig commented on #21
Thanx.
By the way the previous green color in the html (attributes) was also better IMHO - the new one is too bright.

[2015-03-26 15:58] giltig opened #23 "babel"
Hi,
can you also add the same syntax coloring of js to javascript (babel)??

[2015-05-04 08:56] vinkla opened #24 "Find & Replace Bug"
When running find and replace the third input field is below the fold? Potential bug?

![screen shot 2015-05-04 at 10 56 02](https://cloud.githubusercontent.com/assets/499192/7451051/30059628-f24c-11e4-96ba-56bb03b504d9.png)

[2015-05-04 14:21] frankyonnetti commented on #24
Hey @vinkla

You can find a solution here
https://github.com/frankyonnetti/gravity-sublime-theme/wiki/Theme-Trouble-Shooting

[2015-05-04 14:43] vinkla commented on #24
Cool, thanks!

[2015-05-04 14:43] #24 closed

[2015-05-06 19:53] tschundeee opened #25 "Reverse Gravity: "Check for Updates..." Dialog is Dark on Dark"
Hey Frank,

just a minor "glitch" when clicking on "Check for Updates..." when using Reverse Gravity it is rendered Dark on Dark.
I guess it should match the rest of the Theme. What do you think?

Cheers Bijan
PS: Superb Job with this Theme! It should be default on OS X :+1:

[2015-05-07 20:16] frankyonnetti commented on #25
Thanks @tschundeee

Yeah that's a tough one. I'll see what I can do.

[2015-05-07 21:29] tschundeee commented on #25
No stress. It's a very minor thing :)

[2015-05-22 18:45] frankyonnetti commented on #25
This should be fixed in 2.1.2 release. Thanks @tschundeee

[2015-05-22 18:45] #25 closed

[2015-05-25 11:48] tschundeee opened #26 "Sidebar Icons get overridden"
Hi Frank, since the last update somehow I am experiencing this strange behavior:

My Problem:
I am using latest ST3-Dev.

This theme comes with default file icons.
When I have a package like "ShellScript" enabled, the themes file-icon disappears and no other icon is shown leaving a gap for this filetype.
When I disable package "ShellScript" the sidebar file-icon reappears. The same happens for som

[2015-05-25 12:10] tschundeee commented on #26
I created a pull request that at least for me fixed the unexpected behavior.

[2015-05-25 15:35] frankyonnetti commented on #26
I had the same problem with the SASS package. Disabling it fixed it for me. So I actualy tried the same fix as you but it didn't work 100% for me. Then I switched my theme to the default ST theme and all the icons showed. So I looked at the default theme files and it had the same amount of file type icons I do. So I wonder if it's a weird caching problem...

Is this the ShellScript package? I want

[2015-05-25 16:38] tschundeee commented on #26
I did not install a special ShellScript Package as far as I can tell:
Here is my package list.
{
	"in_process_packages":
	[
	],
	"installed_packages":
	[
		"All Autocomplete",
		"AngularJS",
		"AngularJS Snippets",
		"AutoFileName",
		"Better CoffeeScript",
		"Better Completion",
		"BracketHighlighter",
		"Brackets Color Scheme",
		"Browser Refresh",
		"CodeFormatter",
		"CoffeeComplete Plus (Auto

[2015-05-25 16:46] frankyonnetti commented on #26
Your previous comment mentions you have the package "ShellScript" enabled?

[2015-05-25 17:07] tschundeee commented on #26
I think ShellScript is a default package bundled with Sublime...

[2015-05-25 17:26] frankyonnetti commented on #26
Oh right, I see that now, thanks. My guess is something on your end got corrupted. I'm not seeing the issue with ST3-Dev. The links below say it could be a corrupted preference file for ST or one of your installed packages. Did you try disabling all the 3rd party packages you have installed?

I'll do some searching to see if I can find a more solid fix.

http://sublime-text-knowledge-base.readthed

[2015-05-25 17:28] tschundeee commented on #26
I'll investigate and let you know as soon as I find something.

[2015-05-26 10:20] josip opened #28 "Code folding buttons are not visible"
Code folding buttons are gone with the theme, even if I set them to be always visible (`"fade_folding_buttons":false`)

![screen shot 2015-05-26 at 12 18 40](https://cloud.githubusercontent.com/assets/11433/7810349/7ad57cb6-03a1-11e5-86a0-a9ad37ddcd0f.png)

For reference, this is how it looks like with the default theme:

![screen shot 2015-05-26 at 12 19 33](https://cloud.githubusercontent.com/as

[2015-05-26 12:00] frankyonnetti commented on #28
I'm not seeing that issue. What version/build of Sublime Text are you using?

[2015-05-26 12:42] josip commented on #28
Sublime 3, build 3083 on OS X 10.10.4. But I've been seeing it for a while now.

[2015-05-26 13:21] frankyonnetti commented on #28
Can you try deleting the theme, restart ST and then reinstall the theme?

Might be a corrupted file from updating.
http://sublime-text-knowledge-base.readthedocs.org/en/latest/troubleshooting_theme_issues.html

[2015-06-02 09:54] tschundeee commented on #28
Unfortunately I'm also experiencing the same issue. I did a clean install of ST3 Dev 3091 and only installed Package Control and Gravity.
The light version doesn't show the code folding arrows on a bright color theme.

[2015-06-02 09:59] tschundeee commented on #28
I guess it is because of this:

{
        "class": "fold_button_control",
        "attributes": ["expanded"],
        "layer0.texture": "Theme - Gravity/shared_assets/arrow_fold_down.png",
        "layer1.texture": "Theme - Gravity/shared_assets/arrow_fold_down.png"
    },

Theme - Gravity/shared_assets/arrow_fold_down.png is white and so cannot be seen on white BG.

[2015-06-02 10:20] tschundeee commented on #28
This fixed it for me and works on dark and light backgrounds:

//
    // ! Fold button
    // ----------------------------------------------------------

    {
        "class": "fold_button_control",
        "layer0.texture": "Theme - Gravity/shared_assets/arrow_fold_right.png",
        "layer0.opacity": 0.3,
        "layer0.inner_margin": 0,
        "layer0.tint": [153,153,153],
        "layer1.t

[2015-06-02 10:22] tschundeee commented on #28
@frankyonnetti What do you think? The key seems to be layer.tint. Didn't want to create a pull request because I just quickly chose two colors and I guess you might first want to discuss this approach.

[2015-06-02 13:43] frankyonnetti commented on #28
Good catch, thanks @tschundeee

I'll review and implement a fix.

[2015-06-03 10:16] tschundeee opened #29 "Proposal: Increase brightness of statusbar text."
I found myself reading the infos in the bottom statusbar very often as some plugins offer nice context info there. As I'm looking there quite often I increased the brightness of the text to the same level as the text in the sidebar.

@frankyonnetti What do you think about increasing the brightness of the bottom statusbar text for better readability in Default Gravity?

This is the setting I'm quit

[2015-06-03 13:52] frankyonnetti commented on #29
Thanks @tschundeee, I lighten the text and I think it looks a lot better.

[2015-06-03 13:52] #29 closed

[2015-06-03 13:54] frankyonnetti commented on #28
This is fixed in 2.1.4

Thanks

[2015-06-03 13:54] #28 closed

[2015-06-03 15:23] tschundeee commented on #29
:+1: nice!

[2015-06-10 11:50] SalGnt opened #30 "Rename Panel Bug"
When renaming a file, the bottom panel is not showed properly.

![reverse_gravity_bug](https://cloud.githubusercontent.com/assets/884093/8081494/a1eae5a4-0f75-11e5-9ab8-98f84a17e1bc.png)

I'm using ST Build 3083.

[2015-06-10 13:37] frankyonnetti commented on #30
Hi @SalGnt you can find a fix here https://github.com/frankyonnetti/gravity-sublime-theme/wiki/Theme-Trouble-Shooting

[2015-06-10 13:50] SalGnt commented on #30
Got it, thanks!

[2015-06-10 13:50] #30 closed

[2015-06-23 14:49] tschundeee commented on #26
Error seems to be on sublime cache somehow. I noticed that when I uninstalled another theme that came with icons everything went back to normal.

[2015-06-23 14:49] #26 closed

[2015-06-23 15:05] frankyonnetti commented on #26
Hey @tschundeee

That's so funny, I just posted this in the wiki item #2.
https://github.com/frankyonnetti/gravity-sublime-theme/wiki/Theme-Trouble-Shooting

[2015-06-23 15:31] tschundeee commented on #26
Hey Frank that's really funny :)
I finally solved this yesterday after installing a new theme. Maybe we should file this issue on the sublime forums?

[2015-06-23 16:25] frankyonnetti commented on #26
Definitely. Go for it.

[2015-07-01 16:20] giltig commented on #23
Hi,
can you also add the same syntax coloring of js to javascript (babel)??

[2015-07-02 15:56] frankyonnetti commented on #23
Did you want to do a pull request and add it?

[2015-08-31 08:38] vinkla opened #32 "Is there any changelog anywhere?"
Is there any changelog anywhere? If not, maybe we could add one?

[2015-08-31 14:03] frankyonnetti commented on #32
Hi @vinkla
It's inside the 'messages' directory. https://github.com/frankyonnetti/gravity-sublime-theme/tree/master/messages

[2015-08-31 15:37] tsimmons opened #33 "highlight_color_blue, should it affect selected text?"
After adding

    "highlight_color_blue": true

to my user preferences I was hoping that it would change the color of selected text (that is, text that is highlighted using click-and-drag or shift + cursor keys) because I've always found the default colors for highlighted text to be hard to see.

I don't see any difference, however, so my question is: should it be with this setting in place?

Than

[2015-08-31 15:45] frankyonnetti commented on #33
Hi @tsimmons
I didn't add blue color highlights to the syntax colors, just the UI. Tabs, sidebar and tooltips.

[2015-08-31 15:54] tsimmons commented on #33
Okay, fair enough. Apparently I have something else going on as well, because I don't see *any* difference with this setting (I'm on Yosemite):

Here it is with it set true:
<img width="1392" alt="screen shot 2015-08-31 at 10 51 23 am" src="https://cloud.githubusercontent.com/assets/366120/9583024/93e15df0-4fce-11e5-84b6-07e45b733dc6.png">

Here it is with it removed from settings (and ST3 restart

[2015-08-31 16:06] frankyonnetti commented on #33
That looks like the default theme. Try adding the UI theme to your preferences as well and restart Sublime.
`"theme": "Gravity.sublime-theme"` or, `"theme": "Reverse Gravity.sublime-theme"`

[2015-08-31 16:10] tsimmons commented on #33
Duhr. I was using the Gravity color scheme, without the theme.

Thanks!

[2015-08-31 16:10] #33 closed

[2015-08-31 16:11] frankyonnetti commented on #33
It happens to the best of us :)

[2015-09-01 12:47] vinkla commented on #32
Thanks!

[2015-09-01 12:47] #32 closed

[2015-09-01 13:22] #23 closed

[2015-09-01 13:22] #21 closed

[2015-09-01 14:58] tschundeee opened #34 "Tabs."
Hi Frank,

thx for releasing 2.5 of gravity. I like the font-size changes in the sidebar to 12px.

I am not so happy with the tabs in the top and liked the old tabs better. These are the problem spots IMHO:
- When a tab is inactive it has full height to the top (which is nice and I like it).
- When a tab is then active it all of a sudden has lower height and some margin to the top. the label is al

[2015-09-01 15:37] frankyonnetti commented on #34
Hey @tschundeee
Sorry to disappoint. I am using the setting `"tab_height_tall": true` in my personal preferences if that helps.

In the meantime I'll see about tweaking the new tabs so all elements balance vertically. But I do like the gap at the top of the active tab.

To use the older version, remove the Package Control version of Gravity. Then download the 2.1.4 tag and manually add it to your

[2015-09-02 05:11] doyaklee opened #35 "Mixed color-scheme in Reverse Gravity theme"
Hi, Frank.
Thanks for providing great looking theme!
I just have one problem about color scheme.
I applied Reverse Gravity theme, but it seems that the color scheme is sort of mixed as opposed to the screenshot in the Readme.md. Here is a screenshot for my user setting.
![colorshot](https://cloud.githubusercontent.com/assets/14086459/9623482/5a31d1f6-510f-11e5-99c3-7fb2b1fbef06.jpg)
Could you tell

[2015-09-02 09:12] tschundeee commented on #34
Hey Frank,

the new tabs really look better with "tab_height_tall": true :+1:
Would it be possible to make the old tab style default if "tab_height_tall" : false ?

Cheers Bijan

[2015-09-02 11:57] tschundeee commented on #34
Now I know why the new tabs feel stranger to me than the old ones: they are farer away from apples own UI. Safari and Finder are a good example how apple designs tabs. The old style tabs were more close to the apple standard ui and therefore felt more native than the new ones here.

But this is just my opinion and this is your theme and of course you are in control of the design etc.

Just thought

[2015-09-02 14:13] frankyonnetti commented on #34
Hey @tschundeee
I removed the visual gab above the active tab in 2.5.1. You're right, that looks better :-)

[2015-09-02 14:50] frankyonnetti commented on #35
Hi @doyaklee
I would suggest using the `Mac Classic` color scheme along with the **Reverse Gravity** UI.
I would also add these two additional settings to your preferences:
`"tab_font_small": true`
`"tab_height_tall": true`

[2015-09-02 18:50] doyaklee commented on #35
Hi @frankyonnetti
It works very nicely. Thanks!

[2015-09-02 22:10] #35 closed

[2015-09-05 08:08] tschundeee commented on #34
I thought of adding a theme variant that has the new osx tabs recreated?
I mean making the tabs behave exactly like the ones in safari, xcode or finder.
I don't know if this is possible for sublime to have the close icon on the left side and to hide it until mouse hovers. Is this possible or is sublime only showing close button on the right?

[2015-09-05 16:43] frankyonnetti commented on #34
I know you can hide the close icon, but I don't think you can move it to the left side of the tab.
To see if you can, try to find a ST theme that has a close button on the left and review it's code.

[2015-10-06 12:10] #34 closed

[2016-02-05 18:03] GoBijan opened #36 "Sublime 3101 DEV Added Panel Switcher to status bar"
Hi Frank,
the default theme now has a little menu in the status bar (lower left).
Would be cool if it could be added to Gravity Theme :)
Cheers Bijan

[2016-02-05 18:23] GoBijan commented on #36
Okay I patched it into Gravity. I will create a pull request now :)

[2016-02-05 18:48] frankyonnetti commented on #36
Awesome, thanks Bijan!
I'll push it out today or tomorrow so it's updated through packages. I'll need to update my assets first. I use grunt to compile my themes. Plus I'll want to make a light theme panels icon as well.

[2016-02-06 13:04] GoBijan commented on #36
Sorry I saw that in my last pull request I loaded the panels.png asset from the default theme instead of the themes own assets. I also added an adjusted panels.png for the Reverse Gravity variation.
Hope you can make use of it, with or without grunt :D

[2016-02-06 19:12] frankyonnetti commented on #36
OK, update has been pushed to Package Control!

[2016-02-29 02:14] alecthomas opened #39 "Sidebar highlight is light gray"
Hello,

First off, I love the nice clean design of this theme. Thanks.

I realise this may not be a problem with Gravity theme, but both the default theme and Soda Light work correctly (ie. the highlight colour is readable).

This is what the highlight colour in my sidebar looks like, whether `highlight_color_blue` is true or false.

![image](https://cloud.githubusercontent.com/assets/41767/133840

[2016-02-29 17:07] frankyonnetti commented on #39
If you have other themes installed, disable them, restart Sublime and see if that works.

[2016-03-02 18:33] #36 closed

[2016-03-02 18:40] frankyonnetti commented on #39
Sorry, I see what you're saying. I had removed the blue highlight background and made it just a line on the left side; to match the tabs.

![screen shot 2016-03-02 at 1 37 46 pm](https://cloud.githubusercontent.com/assets/458356/13470901/3b69c934-e07c-11e5-99ad-f512a32d5310.png)

[2016-03-02 21:44] alecthomas commented on #39
Can that be restored, or the colour at least made more differentiable from the background? In large code bases it makes it hard to quickly find the current file. This is particularly a problem where the same file name is used a lot (eg. Python's `__init__.py`).

[2016-03-02 21:45] alecthomas commented on #39
(FWIW I thought the blue background was fine, and fit in quite well)

[2016-03-07 01:37] #39 closed

[2016-03-08 22:48] yckart opened #40 "Option tab_height_short not defined"
As noted here https://github.com/frankyonnetti/gravity-sublime-theme/issues/11#issuecomment-70765683, you've added a `tab_height_short` option in *2.0.1*. Tried it, but nothing was changed. I looked in to the source files and it's just not defined in all of those `*.sublime-theme` files.

Would nice to have slightly smaller tabs than per default, maybe `25px` or `30px`.

*Also, the padding on them

[2016-03-09 16:02] yutent opened #41 "A style bug"
The input field like this, while adding new file/ folder,  or rename a file /folder .

![image](https://cloud.githubusercontent.com/assets/11972650/13641372/2284833c-e653-11e5-8f46-7b2ea6f9abd8.png)

[2016-03-09 16:04] frankyonnetti commented on #40
I'll add it back. Will post here when it's pushed.

[2016-03-09 16:04] frankyonnetti commented on #41
Hi @yutent
There is a fix posted here:
https://github.com/frankyonnetti/gravity-sublime-theme/wiki/Theme-Trouble-Shooting

[2016-03-09 16:04] #41 closed

[2016-03-09 16:27] yutent commented on #41
Sorry about that I gave you  vague description.
It shows well when use "find" command. But wrong in creating a new file  or folder.

[2016-03-09 17:15] frankyonnetti commented on #41
Did you try pulling up on it?

[2016-03-10 07:40] yutent commented on #41
Yes, I did,but it didn't work.
However It works well this morning due to rebooting my computer.  Thanks for your patience again!

[2016-03-27 20:41] elcone opened #42 "Python icons"
Icons for python files won't display, how can I display de default icon?, great theme by the way!

[2016-03-27 20:43] kaansoral commented on #42
When I tried this theme, many icons didn't display either, I went back to Flatland for it's simplicity

[2016-03-27 23:42] frankyonnetti commented on #42
Icons not displaying in the sidebar is a bug with Sublime. The fix is to disable themes not in use.

No. 2 issue here:
https://github.com/frankyonnetti/gravity-sublime-theme/wiki/Theme-Trouble-Shooting

[2016-03-28 15:31] elcone commented on #42
thank's! removing the themes I don't use fixed the problem

[2016-04-24 12:19] Antherkiv commented on #40
It's not the same topic, but do you considered to put the tab highlight in the top?

[2016-04-24 14:49] frankyonnetti commented on #40
@yckart
Added the "short tab height" settings back to release 3.0.1.
use: "tab_height_short": true

[2016-04-24 14:50] frankyonnetti commented on #40
@Antherkiv thanks for asking.
I have tried it, but I don't like the way it looks against the window toolbar on the Mac.

[2016-04-24 14:50] #40 closed

[2016-04-24 14:51] #42 closed

[2016-08-08 08:03] giltig opened #43 "One dark color scheme"
Hi,
while your gravity one theme is beautiful,
the one dark color scheme that you recommended is not being supported anymore according to the README.

Do you have any recommendations for other color schemes that will go with the Gravity One theme?

[2016-08-08 14:13] frankyonnetti commented on #43
Sorry, no I don't. I've been using it for a long time now and it works good for me.

[2016-08-13 14:20] #43 closed

[2016-08-27 21:43] frankyonnetti commented on #43
Hey @giltig
Came across this color scheme. Looks really nice.
https://github.com/sonph/onehalf

[2016-09-22 03:26] darthoctopus opened #44 "Gravity One broken on case-sensitive filesystems"
In lines 967 and 973 of Gravity One.sublime-theme, the path to scrollbar textures is provided with the string "Gravity one", which breaks on case-sensitive filesystems (e.g. on my linux installs).

[2016-09-22 14:45] frankyonnetti commented on #44
Thanks @darthoctopus. Typo is fixed and pushed.

[2016-09-22 14:45] #44 closed

[2016-09-22 18:30] katzer opened #45 "Status bar overlaps menu"
Hi, when I choose any context action like "New File..." the input file will be overlapped by the status bar. This happen only with your gravity theme.

I am using v3.0.4 but its present for long since I am using it.

<img width="315" alt="overlapping" src="https://cloud.githubusercontent.com/assets/2039384/18760709/7d90b92c-8102-11e6-9f6e-d19fa24c0345.png">

Would be great to see it fixed in futur

[2016-09-22 18:38] frankyonnetti commented on #45
Hey @katzer check out issue #1
https://github.com/frankyonnetti/gravity-sublime-theme/wiki/Theme-Trouble-Shooting

Hope that helps

[2016-09-22 18:40] katzer commented on #45
@frankyonnetti Fixed!

[2016-09-22 18:40] #45 closed

[2016-12-24 18:03] mikerockett commented on #18
I'm seeing the same thing in Windows 10 with ST3114. In my case, PHP and Markdown icons are not showing. JSON and lnk is showing though...

[2016-12-31 17:59] frankyonnetti commented on #18
Hi @mikerockett

Installing multiple themes in Sublime Text can cause some sidebar icons to not show. Removing or disabling themes should fix the issue.

[2016-12-31 18:11] mikerockett commented on #18
Thanks, @frankyonnetti - will be sure to give that a try. 👍

[2017-02-07 07:56] Railslide opened #47 "Add margin/padding between tabs and first line?"
Hi,
Thanks for a great theme!

Is there a way to increase the distance between tabs and the first line of the content panel?

![screen shot 2017-02-07 at 08 53 04](https://cloud.githubusercontent.com/assets/5789142/22682499/3af85304-ed13-11e6-9534-529a1e1ad1e0.png)

I've tried playing around with the user settings file, but without luck.

[2017-02-07 14:51] frankyonnetti commented on #47
Hi @Railslide
Unfortunately there isn't. I tried adjusting (hacking) it at one time, but the tight space under the tab was slightly better than my results.

[2017-02-07 14:51] #47 closed

[2017-02-08 07:48] Railslide commented on #47
Oh well, I guess I'll have to live with it then - thanks! :)

[2017-09-04 13:03] ayanb1991 opened #48 "Dark Tabs for Reverse Gravity theme"
When using Gravity Monokai theme with Reverse Gravity .tmtheme, white tabs with monokai dark color scheme looking very odd. Can you please provide some sort of settings where I can make tabs 'Dark' while using the Reverse Gravity theme.

Otherwise theme looks very nice. Thanks.

[2017-09-04 17:49] frankyonnetti commented on #48
Hi @ayanb1991
I've tried that before and it didn't improve the look when using a dark code theme. Works best with light code themes.

[2017-09-04 17:49] #48 closed

[2017-12-31 15:08] joejoinerr opened #50 "Sidebar header disappears when sidebar shrinks below a certain width"
When reducing the width of the sidebar beyond a certain point, the sidebar header is replaced by a blank white space.

<img width="198" alt="screen shot 2017-12-31 at 15 00 22" src="https://user-images.githubusercontent.com/2454320/34462439-0fff28d2-ee3c-11e7-93b1-4536c290d346.png">

Tested on a Mac mini and MacBook Pro both running macOS 10.13.2.
Sublime Text v3.0 Build 3143.
Gravity One theme.

[2017-12-31 16:45] frankyonnetti commented on #50
Thanks @joejoinerr
That's funny, I have never reduced the sidebar at that width before. But I see the bug when I do.

[2018-01-19 22:49] frankyonnetti commented on #50
Hi @joejoinerr
I wasn't able to fix the header disappearing at a narrow width.
But the white background should be gone now which looks a little better.

_tag 3.0.9_

[2018-01-22 15:29] #50 closed

[2018-07-20 10:38] Nemesis19 opened #51 "Blue color for js functions in html files"
Dear Developer,

I'm using the gravity one theme and for a while I could see the functions in angular html files the same blue used for the functions in typescript files.

Now it has disappeared and returned the normal red as before...

I was really enjoying that blue in html files...is it possible to implement it?

I'm sorry but I have no idea how it happened...

[2018-07-24 00:59] frankyonnetti commented on #51
The color scheme for Gravity One is just a fork from
https://github.com/IceTimux/one-dark-sublime-text-3-color-scheme

You can try using this color scheme instead to see if it helps
https://packagecontrol.io/packages/One%20Half%20Color%20Schemes

[2018-07-26 09:42] Nemesis19 commented on #51
Thanks, already tried...doesn't work. Anyway it's not that important.

Thanks for the help!

Can I suggest you to add a new colorscheme variant based on this?
https://marketplace.visualstudio.com/items?itemName=azemoh.one-monokai

it's a kind of fusion between One Dark and Monokai, very readable and with a very good color separation.

Thanks anyway, gravity theme so far is the best sublime theme 👍

[2018-07-27 13:11] frankyonnetti commented on #51
I'll take a look. Thanks!

[2018-07-27 13:11] #51 closed

[2018-09-01 06:43] easyfrog opened #52 "has a black frame around popup window"
There is a black frame around popup window.

like below:

<img width="506" alt="image" src="https://user-images.githubusercontent.com/10724325/44943229-4a4db700-adf5-11e8-933b-5cd3c3ea34b3.png">

[2018-09-02 19:55] frankyonnetti commented on #52
Hi @easyfrog I added a fix in the 3.5.1 update.

[2018-09-02 19:55] #52 closed

[2019-04-05 07:29] crapthings opened #54 "gravity one doesnt look right"
<img width="1632" alt="Screen Shot 2019-04-05 at 15 28 39" src="https://user-images.githubusercontent.com/1147704/55611247-87c55900-57b7-11e9-9705-27ad15f90022.png">

[2019-04-05 15:06] frankyonnetti commented on #54
Hi @crapthings
Not sure, are you referring to the color scheme? If so, go to "Preferences > Color Scheme.." and select "One Dark Gravity".

[2019-05-19 17:34] #54 closed

[2019-05-29 11:39] LinuxOnTheDesktop opened #56 "Feature request: bold font for active tab"
I find your theme to be one of very few that makes inactive tab titles legible. However, I'd like to make the _active_ tab font **bold** - but don't see how. Thanks. I've Sublime Text 3 and the latest (Sublime repository) version of your theme.

[2019-05-29 23:36] LinuxOnTheDesktop opened #57 "On one file, the scrollbar disappears"
I really like this theme (or set of themes) but, on Windows (8.1) and Linux (Mint 19.1 Cinnamon), in one of my files - which I attach - the scroll bar disappears. I have `"overlay_scroll_bars": "disabled"` in my Sublime settings user file. Changing the viewed file, or changing theme, fixes the problem.

[log.txt](https://github.com/frankyonnetti/gravity-sublime-theme/files/3234828/log.txt)

[2019-06-04 18:24] frankyonnetti commented on #56
As you noted, that option is not currently available for this theme. But you can always override theme settings by placing the following gist (file) in your `Sublime Text 3/Packages/User`.

https://gist.github.com/frankyonnetti/3d629c418afe72153d28cc5b234ec7e7

You can find that directory by selecting "Browse Packages..." menu un preferences.

[2019-06-04 18:24] #56 closed

[2019-06-04 18:25] frankyonnetti commented on #57
Thanks @LinuxOnTheDesktop, I'll see about adding a fix.

[2019-06-05 02:32] LinuxOnTheDesktop commented on #56
That works well (though I had to change the name of the file to 'Gravity.sublime-theme', because that is the version of the theme that I use). Thank you. Screenshot:

![image](https://user-images.githubusercontent.com/47056543/58926258-76aab100-8742-11e9-8abd-f09f8180c4ab.png)

Even better would be an option within the package for this setup.

[2019-06-06 19:28] LinuxOnTheDesktop commented on #57
Great. I should add that I have the problem with all the subthemes.

[2019-06-11 14:09] frankyonnetti commented on #57
Hi @LinuxOnTheDesktop, I pushed a fix this in version 3.5.5
Thanks

[2019-06-11 14:09] #57 closed

[2019-06-11 14:10] frankyonnetti commented on #56
This is added in version 3.5.5:
`"gravity_selected_tab_bold": true`

[2019-06-13 11:51] Myrronth opened #58 "Feature request: Bold font for folders"
Similar as #56. I currently use the High-Sienna theme and would switch to the Gravity theme if I could only make the folders in the project navigator stand out more.

High-Sienna has a setting for rendering the folder names in bold:
`"bold_folder_labels": true`

[2019-06-15 19:35] frankyonnetti commented on #58
Hi @Myrronth
You can bold the folder label by using this theme override settings file:
https://gist.github.com/frankyonnetti/0303c03c25cf7726b941030d1684bc71

[2019-06-15 19:35] #58 closed

[2020-04-17 11:24] dndrsn commented on #47
This always bothers me.  I have seen, in some themes, extra visual space in the tab image below what is meant to visually look like the bottom of the tab.  The effect only works, however, if the background color of the color scheme matches the color of the "fake space" in the tab image.  I'm sure that doesn't make any sense.

[2020-04-17 11:34] dndrsn opened #59 "Reverse Gravity - quick open focused item path highlight is unreadable"
Reverse Gravity uses the same white color to highlight matches in the file path for the quick launch for the focused item.  It's very hard to read agains the light gray background.

![image](https://user-images.githubusercontent.com/1944277/79564500-c8b7a500-807c-11ea-9fea-e4ac85bdb058.png)

It uses a darker gray for the non-focused items.

[2020-04-17 13:02] dndrsn commented on #59
FWIW, I did a local override of line 604 the theme file:
[code]
to get this:
![image](https://user-images.githubusercontent.com/1944277/79571930-0a028180-808a-11ea-9d7d-8e6587606e77.png)

[2020-07-27 20:09] frankyonnetti commented on #59
Thanks @dndrsn for the find and details on the fix. I updated the theme and pushed it to a new tag release.

[2020-07-27 20:09] #59 closed

[2020-08-05 13:00] sobaw98247 opened #61 "git - change font color in file tree for ignored items"
Hey,
how can I change color/opacity for ignored files?

Screen from Meetio Theme:
![image](https://user-images.githubusercontent.com/66990562/89415344-045da400-d72c-11ea-8a6b-23245d3080ea.png)

Gravity One:
![image](https://user-images.githubusercontent.com/66990562/89415414-18a1a100-d72c-11ea-94dc-61d025ad2b24.png)

[2020-08-05 13:57] frankyonnetti commented on #61
I didn't realize that was possible in ST. I'll have to take a look.

[2020-08-10 09:04] sobaw98247 commented on #61
Here's a little more about this: https://www.sublimetext.com/docs/3/git_integration.html

I added
[code]

and it works for me :)

PR: https://github.com/frankyonnetti/gravity-sublime-theme/pull/62

[2020-08-13 00:26] frankyonnetti commented on #61
Thanks for your help on this @sobaw98247 , it's a really cool feature.
I'm going to dim the folder & icons as well and add it to the other 2 themes. I hope to push in the next day or so.

[2020-08-13 15:04] frankyonnetti commented on #61
This change is in tag release 3.5.9

[2020-08-13 15:04] #61 closed

[2020-09-02 05:17] sobaw98247 opened #63 "[Gravity One] git - change line colors"
Color of changed line in gutter:
![image](https://user-images.githubusercontent.com/66990562/91934686-3ee73c00-ecec-11ea-95d6-bb8ced6a1578.png)

doesn't correspond with colors in minimap:
![image](https://user-images.githubusercontent.com/66990562/91934723-51fa0c00-ecec-11ea-8892-dfe855375e8b.png)

[2020-09-02 19:22] frankyonnetti commented on #63
Is that a ST version 4 feature?

[2020-09-03 04:25] sobaw98247 commented on #63
Screens are from ST4 but I think it is even in ST3 :)

[2020-09-11 19:32] frankyonnetti commented on #63
Is there a package drawing the git diff in the minimap; maybe GitGutter? Because I cannot find a setting for it.

[2020-09-17 10:29] sobaw98247 commented on #63
You're right, it's from GitGutter. I was convinced that that was ST feature. Sorry :)

[2020-09-18 07:47] #63 closed

[2020-11-03 14:37] sobaw98247 opened #64 "Gravity One - broken links color in Command Paletter"
Hey,
these link should be like this?

![image](https://user-images.githubusercontent.com/66990562/97998402-55903900-1dea-11eb-9cb5-b6eb8fd1bcd2.png)

[2020-11-03 19:50] frankyonnetti commented on #64
Oh yeah, that's terrible. I'll take a look. Thanks.

[2020-11-07 23:30] frankyonnetti commented on #64
This is fixed now in 3.6.0. Thanks.

[2020-11-07 23:30] #64 closed

[2020-11-14 13:03] rwols opened #65 "One Dark: missing all punctuation.* scopes"
I like this color scheme. Thanks for your work.

<img width="522" alt="image" src="https://user-images.githubusercontent.com/2431823/99147493-b1c44a00-2681-11eb-864d-e7d47d2ecae8.png">

However:

- `variable.parameter` has the same color as `variable.function` (both red). It would be nice if `variable.parameter` had a different color as function arguments are definitely a different concept than ca

[2020-11-21 18:31] frankyonnetti commented on #65
Hi @rwols
Honestly that file is so old (XML) it could use a rebuild in the new way for writing schemes (JSON). Which I hope to do some day soon 🤷‍♂️. But if you would rather have it sooner, do you mind trying to fix it and create a pull request?

[2020-12-09 16:52] krishantaylor opened #66 "v4 broken on st3"
Love this theme, but my syntax highlighting is slightly broken after the recent update. Here's what I see in the console:
[code]
I'm running sublime v3.2.2, build 3211.

[2020-12-09 17:24] frankyonnetti commented on #66
Hi @krishantaylor
I just posted a fix for the 2nd and 3rd error to (tag) version 4.0.1. Give **package control** time to update (should be less than an hour).

The 1st error is because the file has been removed (by me). You'll need to reset the color scheme in prefs if that comes up again.

Thanks!!

[2020-12-12 20:20] rwols opened #67 "One Dark: missing color for keyword.operator"
<img width="1018" alt="image" src="https://user-images.githubusercontent.com/2431823/101994063-c9faa980-3cbf-11eb-80d9-06a315add9a9.png">

[2020-12-12 20:25] rwols opened #68 "One Dark: storage.modifier is too similar to variable.parameter"
~~I believe variable.parameter now receives a color? Nice work 👍 although~~ (EDIT: Never mind, it was already reddish) I do think the distance in color between `storage.modifier` and `variable.parameter` is too short now:

<img width="1018" alt="image" src="https://user-images.githubusercontent.com/2431823/101994132-468d8800-3cc0-11eb-97dd-b59a2fbfa4b3.png">

<img width="1018" alt="image" src="htt

[2020-12-13 19:54] frankyonnetti commented on #67
That's strange, because I have that set as purple in the scheme file.

[code]

[code]

[2020-12-13 19:56] frankyonnetti commented on #68
Can try installing one of these packages? They help improve C++ syntax in Sublime.

- https://packagecontrol.io/packages/C%2B%2B11
- https://packagecontrol.io/packages/C%2B%2B%20Starting%20Kit

[2020-12-13 19:56] #66 closed

[2020-12-13 19:59] rwols commented on #67
You're excluding `source.c++ keyword.operator` for some reason :)

From the ST console:
[code]

I think you can safely replace that selector with just `keyword.operator`:

[code]

[2020-12-13 20:01] rwols commented on #68
Those syntaxes are unmaintained. The default one is pretty good.

[2020-12-13 20:02] rwols commented on #65
I'm not sure why this got closed. punctuation scopes are still missing.

[2020-12-13 20:07] rwols commented on #65
By the way apologies in advance if I come across as too demanding and/or brief but I'm just documenting some shortcomings and overall really like the color palette. I don't have much more free time.

[2021-01-09 17:26] frankyonnetti commented on #65
Hi @rwols sorry for taking so long to get to you. I spent more time on this and have come to the conclusion that I don't know enough about C++ to make good judgements on a color scheme that supports it.

This leaves us with two options:

1. You can try to fix the scheme when you have time and provide a pull request with the fixes.
2. Try out [One Half Color Schemes](https://packagecontrol.io/packa

[2021-01-09 19:32] rwols commented on #65
Hi Frank, not a problem. I'll see what I can do about the selectors. Just covering all scopes from the "minimal scope coverage" [here](https://www.sublimetext.com/docs/3/scope_naming.html) should work for all languages (not just C++).

[2021-01-11 23:09] frankyonnetti commented on #65
Thanks @rwols !!
All 3 PRs merged and pushed. Should show in Package Control within the hour as 4.0.2

[2021-01-12 11:26] #65 closed

[2021-01-12 11:27] #67 closed

[2021-01-13 12:58] sprat opened #72 "One Dark Gravity: bad keyword color"
The "await" keyword color in python is broken in the latest release. See attached screenshot.

![bad-keyword-color](https://user-images.githubusercontent.com/577183/104455336-6fe35180-55a7-11eb-957c-86607db9ff61.png)

[2021-01-13 14:40] frankyonnetti commented on #72
Thanks @sprat
Can you provide that code, or part of it, so I can test and fix?

[2021-01-13 20:11] sprat commented on #72
Here it is: [host.py.zip](https://github.com/frankyonnetti/gravity-sublime-theme/files/5810861/host.py.zip) (sorry for the zip file, I didn't found another way to attach the file)

[2021-01-16 17:47] frankyonnetti commented on #72
Thanks @sprat
How does this look now?
<img width="475" alt="Screen Shot 2021-01-16 at 12 45 47 PM" src="https://user-images.githubusercontent.com/458356/104819023-ee82fd80-57f8-11eb-9a0e-fbce5ccf2c3a.png">

[2021-01-16 18:25] sprat commented on #72
Much better ;) You removed italics also ?

[2021-01-16 18:34] frankyonnetti commented on #72
Thank you. No, italics are still there, I have it turned off in my preferences. I'll push to package control soon. Usually takes an hour to show up.

[2021-01-16 18:34] #68 closed

[2021-01-16 18:37] sprat commented on #72
Many thanks! Did I say I really like this theme, it's very easy for the eyes: thank you for this!

[2021-01-16 19:04] rwols commented on #68
I still think this is an issue. Member variables, function arguments, storage modifiers are all the same color (red).

[2021-01-16 19:04] rwols commented on #68
But I'll see if I can try something myself.

[2021-01-16 19:06] rwols commented on #72
Yeah I broke that in 41e7d6fea955861b9f95918d9efed2475a6be59a. Sorry about that.

[2021-01-16 19:07] rwols commented on #72
I still do think we should differentiate better between the different keywords

[code]

[2021-01-20 11:56] sprat commented on #72
Solved for me

[2021-01-20 11:56] #72 closed

[2021-03-09 15:27] mjbaldwin opened #73 "Light color scheme used in screenshot / recommendation"
Hi, I've been searching for a good light color scheme for ST3 and can't find a satisfying one anywhere... until I saw the one used in the light screenshot for Gravity.

In Package Control I know you say "Sorry, no syntax color scheme supplied. But I'm sure there are plenty to choose from in Package Control."

But could you tell me which color scheme you used there? And I might recommend even putti

[2021-03-10 00:19] mjbaldwin commented on #73
Thanks so much for the reply!

Sadly it doesn't seem to exactly match either of those, at least not in their current forms. :S

The built-in "Brackets" is all blue/green/orange, while your screenshot is equivalently red/purple/green.

One Half is a little closer, but it uses orange where your screenshot uses purple...

Unless you modified the colors further -- I may wind up having to do that. But

[2021-03-10 18:07] frankyonnetti commented on #73
Are you using ST3? I'm using v.4 so maybe it changed. See attached v.4 Brackers scheme.
[Breakers.sublime-color-scheme.zip](https://github.com/frankyonnetti/gravity-sublime-theme/files/6117944/Breakers.sublime-color-scheme.zip)

[2021-03-11 15:56] mjbaldwin commented on #73
Ah ha that's it! Yes I'm on ST3. But installed that and it's perfect. Thanks so much, much appreciated.

[2021-03-11 15:56] #73 closed

[2021-05-26 13:59] CosmicQueso opened #74 "Menu stuck in hamburger form"
I updated Sublime Text to build 4107 (on Windows 10) today and had been using Gravity for a while.

After updating I noticed that the menu bar style was changed to a hamburger menu. Is there any way I can go back to the expanded form of the menu?

I have tried to poke around in the user settings and the theme settings, but have had no luck finding how to get the menu back to its expanded form.

[2021-05-26 16:15] frankyonnetti commented on #74
It's part of ST4 and custom Windows titlebar. Can you try adding `"disable_custom_title_bar": true` in your preferences?

https://forum.sublimetext.com/t/st4-menu-bar-missing-in-windows-10/57662/11

[2021-05-26 16:51] CosmicQueso commented on #74
I attempted this in both the theme settings and the sublime settings

A snippet of Theme Settings  (Preferences > Customize Theme):
[code]
A snippet of User Settings (Preferences > Settings):
[code]

[2021-05-26 17:05] frankyonnetti commented on #74
Sorry, guess I'll have to dig in more. Hope to get back to you soon.

[2021-05-26 17:17] CosmicQueso commented on #74
Okay, thank you!

[2021-05-29 16:11] frankyonnetti commented on #74
Do you have `gravity_title_bar` set to `true` in preferences? If so, set it to false. If that still doesn't work, try adding `"themed_title_bar": false` to your preferences.

[2021-06-01 14:06] CosmicQueso commented on #74
The first one got it, thank you for your help!

[2021-06-03 23:36] sunyang713 opened #75 "Sublime Text 2 Icon download link doesn't work"
Looks like the bitly URL expired or something. Are the icons still available?

[2021-06-04 13:45] #74 closed

[2021-06-04 14:12] frankyonnetti commented on #75
Hi @sunyang713, I tested and they all downloaded for me. Can you try again?

[2021-06-05 21:03] sunyang713 commented on #75
Ah, I clicked on the icon images themselves and it worked. I think the text-link has a typo. Created a PR.

[2021-06-08 21:51] #75 closed

[2021-06-10 12:17] Borsti26 opened #77 ".js file / Gravity One function name color issue"
Hi,

i use:
![image](https://user-images.githubusercontent.com/2920507/121523315-5d563280-c9f6-11eb-870e-b6652b948dd3.png)

and in .js files the function ther are text in the same color as the background:
![image](https://user-images.githubusercontent.com/2920507/121523423-7e1e8800-c9f6-11eb-944a-c172a142e6e5.png)

There are two lines with "test" written the second is marked.

BR
René

[2021-06-13 15:15] frankyonnetti commented on #77
I can't reproduce it. Can you try uninstalling and reinstalling Gravity?

![Screen Shot 2021-06-13 at 11 12 36 AM](https://user-images.githubusercontent.com/458356/121813119-a269a700-cc38-11eb-8e4a-5fa5a8002537.png)

[2021-06-13 18:34] Borsti26 commented on #77
Hi,

thanks.
I deinstalled it and find out the theme did not complete removed in the Folder.
"C:\Users\%User%\AppData\Roaming\Sublime Text 3\Packages\User\Color Highlighter\themes"

After delete manually the files and install it again it work like a charm.

Thanks for you hint and your nice Theme.

BR
René

[2021-06-13 18:34] #77 closed

[2021-06-16 11:50] widersky opened #78 "There are white places in screen corners when ST4 is on fullscreen mode"
![CleanShot 2021-06-16 at 13 48 10](https://user-images.githubusercontent.com/45122321/122213811-a6e8c680-cea9-11eb-883d-671b8c0b1bcf.png)

As in example above, when I go to fullscreen mode, small white things appear in corners which looks ugly.

[2021-06-21 06:49] widersky commented on #78
@frankyonnetti yup, macOS. On"Adaptive" Sublime theme this issue don't appear. It does not matter what wallpaper I have set

[2021-11-01 03:57] easyfrog opened #79 "No such prop row_padding when matching icon_file_type against icon_file_type"
This error message print very time to the console, when mouse hover the sidebar’s files or folders.

How to prevent it?

![](https://forum.sublimetext.com/uploads/default/optimized/3X/a/7/a74f54b518f97aa12099d0527f7e31e45b8eccd3_2_1244x1000.png)

I check my `Gravity.sublime-theme file`, and there is no `row_padding` prop in all `icon_file_type` blocks.

![](https://forum.sublimetext.com/uploads/de

[2021-11-01 11:33] easyfrog opened #80 "One Dark Gravity color issue"
* sublime text v4121

some keywords color is same as background

<img width="551" alt="image" src="https://user-images.githubusercontent.com/10724325/139664910-fc56cf55-b273-48b0-bcbd-fb4e80089fe1.png">

when select:

<img width="560" alt="image" src="https://user-images.githubusercontent.com/10724325/139664984-a9bdbbb6-a695-4f58-bc1a-76f68699e36f.png">

[2021-11-01 12:11] easyfrog commented on #80
same as. #77

[2021-11-01 12:11] #80 closed

[2021-11-01 13:23] easyfrog commented on #79
The error `row_padding` is in  `A file icon` plugin auto  generate `Packages/zzz A File Icon zzz/patches/general/multi/Gravity One.sublime-theme` remove it.

[2021-11-01 13:23] #79 closed

[2021-11-16 09:47] Zaidcrowe opened #81 "Sublime Merge?"
This is deff a feature request rather than an issue :)

Would you consider adding support for sublime merge?

My eyes thank you!

[2021-11-18 20:57] frankyonnetti commented on #81
Hey,
I would, but sorry I don't use Sublime Merge and I need a license to test a theme.

[2022-08-18 15:26] mechtifs opened #82 "License?"
I've created a theme based on Gravity and I'd like to publish it on Package Control. Since the license is not declared in this repo, I'm here for the permission :)

Edit: My bad!

[2022-08-18 15:34] #82 closed

[2022-08-18 15:56] #81 closed